@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Calibre";
  src: url("./CalibreRegular.otf");
}
body {
  font-family: "Calibre";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #262626;
}
